<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DataFillingSoftDeskApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DataFillingSoftDeskApp.Properties.Settings.DataFillingDbConnectionString"
      connectionString="Data Source=.\local;Initial Catalog=DataFillingDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <DataFillingSoftDeskApp.Properties.Settings>
      <setting name="AuthKey" serializeAs="String">
        <value />
      </setting>
      <setting name="userid" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="filetaken" serializeAs="String">
        <value />
      </setting>
      <setting name="filedone" serializeAs="String">
        <value />
      </setting>
      <setting name="registrationdate" serializeAs="String">
        <value />
      </setting>
      <setting name="email" serializeAs="String">
        <value />
      </setting>
      <setting name="firstName" serializeAs="String">
        <value />
      </setting>
      <setting name="lastName" serializeAs="String">
        <value />
      </setting>
      <setting name="formserial" serializeAs="String">
        <value />
      </setting>
      <setting name="submit" serializeAs="String">
        <value />
      </setting>
    </DataFillingSoftDeskApp.Properties.Settings>
  </userSettings>
  
</configuration>